/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p36.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p3.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p8.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p23.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p14.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p40.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p35.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p27.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p22.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p31.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p2.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p13.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p39.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p9.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p26.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p29.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p5.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p21.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p34.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p1.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p17.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p30.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p20.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p25.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p12.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p38.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p16.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p6.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p33.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p4.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p18.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p37.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p11.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p24.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p7.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p15.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p41.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p28.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p10.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p32.txt
/CourseRecommenderDataLoader/src/main/resources/data_source/course_selection_records/p19.txt
/CourseRecommenderService/
/CourseRecommenderAPI/target/
/CourseRecommenderPersistence/target/
/CourseRecommenderConstraintSolver/target/
/CPVisualizer/CPVisulizer/target/
/CPVisualizer/CPVisulizer/
/CourseRecommenderDomainReasoner/target/
/CourseRecommenderDataLoader/target/
/CourseRecommenderRuleMiner/target/